@media only screen and (max-width: 1550px) {
  html,
  body {
    font-size: 9.5px;
  }

  .tasks-container-row {
    gap: 3rem;
  }
  .task-card {
    max-width: 100%;
    gap: 0.8rem;
    padding: 1.5rem;
  }

  .content-container {
    padding: 2.5rem;
    gap: 2rem;
  }

  .task-form {
    flex: 0 0 calc(24% - 1.5rem);
    padding: 3rem 2rem;
  }
  .task-lists-container {
    flex: 0 0 calc(76% - 1.5rem);
    padding: 1.8rem;
  }

  .form-group {
    margin-bottom: 1.2rem;
    gap: 0.5rem;
  }
  .btn-add-task {
    height: 4rem !important;
    font-size: 1.5rem;
  }

  header h1 {
    font-size: 2.2rem;
  }

  .task-lists-container h2 {
    font-size: 1.8rem;
  }

  .priority {
    padding: 0.6rem;
    font-size: 1.2rem;
  }

  }

/* laptops and big tablets - 1024px - 1200px */
@media only screen and (max-width: 1200px) {
  html,
  body {
    font-size: 7.5px;
  }

  .btn {
    min-width: 8rem;
    gap: 0.3rem;
  }

  .buttons {
    gap: 1rem;
  }
}

/* tablets 768px - 1023px */
@media only screen and (max-width: 1023px) {
  html,
  body {
    font-size: 6px;
  }
  .tasklist-cards-row {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  header h1 {
    padding: 2rem 0 1.5rem 5rem;
  }

  .common-style {
    font-size: 1.3rem;
  }

  .tasks-container-row {
    gap: 5rem;
  }

  .task-list {
    flex: 0 0 calc(50% - 2.5rem);
  }
}

/* mobile - phones */
@media only screen and (max-width: 767px) {
  html,
  body {
    font-size: 12px;
  }
  .content-container {
    flex-direction: column;
    padding: 3rem;
    gap: 4rem;
  }

  .task-form {
    padding: 3rem;
  }

  .common-style {
    padding: 1.5rem;
  }

  .tasks-container-row {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .task-list {
    width: 90%;
  }

  .form-select option {
    font-size: 1.7rem;
  }

  .task-card {
    width: 100%;
    gap: 1.2rem;
  }

  .task-lists-container h2,
  .task-lists-container h3 {
    padding-left: 0;
  }

  .form-select option {
    font-size: 1.3rem;
  }
}

/* small mobile - phones*/
@media only screen and (max-width: 400px) {
  html,
  body {
    font-size: 9px;
  }

  .task-form {
    padding: 2.5rem;
  }

  .task-list {
    width: 100%;
  }
}
