.task-card {
  background-color: rgb(42, 42, 39);
  border-radius: 5rem;
  padding: 3rem;
  font-size: 3rem;
  position: relative;
}

.task-list {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  gap: 8rem;
}
