
.task-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem auto;
  max-width: 150rem;   
}

.task-card {
  background-color: #111827;
  border-radius: 1.8rem;
  border: 1px solid #1f2937;
  padding: 2rem;
  font-size: 3rem;
  width: 45rem;
}
