.task-form {
  flex: 0 0 calc(23% - 2rem);
  width: 100%;
  max-height: min-content;
  display: flex;
  flex-direction: column;
  background: linear-gradient(145deg, #0f172a, #111c44);
  padding: 2.5rem;
  border-radius: 10px;
  border: 1px solid #172130;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
  gap: 0.8rem;
}

.task-form-title {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: flex-start;
  padding-bottom: 2rem;
  border-bottom: 1px solid #1e293b;
}

.task-form-title p {
  font-size: 1.8rem;
  font-weight: 700;
  background: linear-gradient(90deg, #4f46e5, #7c3aed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.task-form-title ion-icon {
  font-size: 2.2rem;
  color: #7c3aed;
}
.task-label {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.common-style {
  font-size: 1.3rem;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.8rem;
  border: 1px solid #1e293b;
  background-color: #0b132b;
  color: #f8fafc;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.common-style::placeholder {
  color: #94a3b8;
}

.common-style:focus {
  outline: none;
  border: 1px solid #242162;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

.form-textarea {
  height: 80px;
  resize: none;
}

.form-select {
  appearance: none;
  cursor: pointer;
}

.form-select option {
  font-size: 1.3rem; 
}

/* DATEPICKER INPUT */

.date-input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1.2rem;
  cursor: pointer;
}

.react-datepicker-wrapper {
  width: 100%;
}

.calendar-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #94a3b8;
  pointer-events: none;
  transition: color 0.2s ease;
  font-size: 2.2rem;
}

.calendar-icon:hover {
  color: #4f46e5;
}

/*------DATEPICKER----- */

.react-datepicker {
  background-color: #0f172a;
  border: none;
  border-radius: 12px;
  padding: 10px;
}

.react-datepicker__header {
  background-color: transparent;
  border-bottom: none;
  padding-top: 10px;
}

.react-datepicker__current-month {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}

.react-datepicker__navigation {
  top: 10px;
}

.react-datepicker__navigation-icon {
  border-color: white;
}

.react-datepicker__day-name {
  font-size: 1.3rem;
  font-weight: 600;
  color: #94a3b8;
}

.react-datepicker__day {
  color: #cbd5e1;
  border-radius: 8px;
  font-size: 1.2rem;
}

.react-datepicker__day:hover {
  background-color: #7e7bcf !important;
  color: #fff;
}

.react-datepicker__day--selected {
  background-color: #4f46e5;
  color: white;
}

.react-datepicker__day--today {
  background-color: #9fa5b0;
  color: #0f172a;
}

.react-datepicker__day--outside-month {
  color: #475569;
}
